@media screen and (min-width: 1450px) {
    .call-stack, #sideboard {
        width: 350px;
        height: 700px;
        font-size: 16px;
    }
}

@media screen and (max-width: 1450px) and (min-width: 1350px) {
    .call-stack, #sideboard {
        width: 325px;
        height: 650px;
        font-size: 15px;
    }
}

@media screen and (max-width: 1350px) and (min-width: 1250px) {
    .call-stack, #sideboard {
        width: 300px;
        height: 600px;
        font-size: 14px;
    }
}

@media screen and (max-width: 1250px) and (min-width: 1150px) {
    .call-stack, #sideboard {
        width: 275px;
        height: 550px;
        font-size: 13px;
    }
}

@media screen and (max-width: 1150px) and (min-width: 1050px) {
    .call-stack, #sideboard {
        width: 250px;
        height: 500px;
        font-size: 12px;
    }
}

@media screen and (max-width: 1050px) and (min-width: 950px) {
    .call-stack, #sideboard {
        width: 225px;
        height: 450px;
        font-size: 11px;
    }
}

@media screen and (max-width: 950px) and (min-width: 850px) {
    .call-stack, #sideboard {
        width: 200px;
        height: 400px;
        font-size: 10px;
    }
}

@media screen and (max-width: 850px) {
    .call-stack, #sideboard {
        width: 175px;
        height: 350px;
        font-size: 9px;
    }
}


.call-stack{
    border-style: solid;
    border-width: 1px;
    background-color: var(--game-background-color);
}

.cards-div {
    height: 90%;
    overflow-y: scroll;
    flex-direction: column;

}

.buttons-div {
    height: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.calling-card {
    display: grid;
    height: 20%;
    grid-template-columns: 1fr 4fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.calling-card .cardIcon {
    height: 60%;
    width: 60%;
}
.calling-card:nth-of-type(2n) {
    background: rgb(80, 80, 80, 0.5);
}
.calling-card p {
    padding: 2px;
}

#clear-button {
    height: 90%;
    width: 30%;
    justify-self: end;
    margin: 4px;
}

#run-button {
    height: 85%;
    width: 30%;
    justify-self: start;
    margin: 4px;
}

.runIcon, .clearIcon {
    height: 100%;
    width: 100%;
}