
.call-stack{
    width: 98%;
    height: 100%;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    border-style: solid;
    border-width: 1px;
    background-color: rgba(226, 171, 11, 0.35);
    overflow-y: scroll;
}

img {
    height: 6vh;
}

.calling-card {
    display: grid;
    /* grid-column-start: 1;
    grid-column-end: 3; */
    max-height: 150px;
    grid-template-columns: 1fr 1fr 1fr;

}
.calling-card Svg {
    min-height: 30px;
    min-width: 30px;
    height: 10%;
    width: 10%;
}

.calling-card:nth-of-type(2n) {
    background: grey;
}


.call-stack button {
    align-self: end;    
}

.calling-card button {
    align-self: start;
}
#clear-button,
#run-button {
    margin: 5px;
    background-color: grey;
}