
.call-stack{
    width: 98%;
    height: 100%;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    border-style: solid;
    border-width: 1px;
    background-color: var(--game-background-color);
    overflow-y: scroll;
}

img {
    height: 6vh;
}

.calling-card {
    display: grid;
    /* grid-column-start: 1;
    grid-column-end: 3; */
    min-height: 90px;
    height: 10vh;
    grid-template-columns: 1fr 3fr;
    padding: 7px;
    justify-items: center;
    align-items: center;

}
.calling-card .cardIcon {
    min-height: 40px;
    min-width: 40px;
    height: 10%;
    width: 10%;
    
}

.calling-card:nth-of-type(2n) {
    background: rgb(80, 80, 80, 0.5);
}


.button-div {
    align-self: end;    
}

.calling-card button {
    align-self: start;
}
#clear-button,
#run-button,
#clear-button svg,
#run-button svg{
    margin: 5px;
    width: 100%;
    height: 100%;
    min-width: 30px;
    min-height: 30px;
    max-width: 60px;
    max-height: 60px;
}
#run-button path,
#run-button ellipse {
  stroke: var(--icon-stroke-color2);
}
#run-button ellipse {
  fill: var(--icon-fill-color2);
}