@media screen and (min-width: 1450px) {
    .call-stack, #sideboard {
        width: 350px;
        height: 700px;
        font-size: 16px;
    }
}

@media screen and (max-width: 1450px) and (min-width: 1350px) {
    .call-stack, #sideboard {
        width: 325px;
        height: 650px;
        font-size: 15px;
    }
}

@media screen and (max-width: 1350px) and (min-width: 1250px) {
    .call-stack, #sideboard {
        width: 300px;
        height: 600px;
        font-size: 14px;
    }
}

@media screen and (max-width: 1250px) and (min-width: 1150px) {
    .call-stack, #sideboard {
        width: 275px;
        height: 550px;
        font-size: 13px;
    }
}

@media screen and (max-width: 1150px) and (min-width: 1050px) {
    .call-stack, #sideboard {
        width: 250px;
        height: 500px;
        font-size: 12px;
    }
}

@media screen and (max-width: 1050px) and (min-width: 950px) {
    .call-stack, #sideboard {
        width: 225px;
        height: 450px;
        font-size: 11px;
    }
}

@media screen and (max-width: 950px) and (min-width: 850px) {
    .call-stack, #sideboard {
        width: 200px;
        height: 400px;
        font-size: 10px;
    }
}

@media screen and (max-width: 850px) and (min-width: 750px) {
    .call-stack, #sideboard {
        width: 175px;
        height: 350px;
        font-size: 9px;
    }
}

@media screen and (max-width: 750px) {
    .call-stack, #sideboard {
        width: 150px;
        height: 300px;
        font-size: 8px;
    }
}


.call-stack{
    border-style: solid;
    border-width: 1px;
    background-color: var(--game-background-color);
}

.cards-div {
    height: 90%;
    overflow-y: auto;
    flex-direction: column;

}

.buttons-div {
    height: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.calling-card {
    display: grid;
    height: 12.5%;
    width: 100%;
    grid-template-columns: 2fr 12fr 1fr;
    grid-template-rows: 1fr;
}
.calling-card #delete-button {
    margin: 0;
    width: 90%;
    height: 27%;
    align-self: start;
    justify-self: end;
}
.calling-card .cardIcon {
    margin: 0;
    height: 55%;
    width: 90%;
    align-self: center;
    justify-self: center;
}
.calling-card p {
    margin: 0;
    align-self: center;
    justify-self: center;
}


.calling-card:nth-of-type(2n) {
    background: rgb(80, 80, 80, 0.5);
}


#clear-button {
    height: 90%;
    width: 30%;
    justify-self: end;
    margin: 4px;
}

#run-button {
    height: 90%;
    width: 30%;
    justify-self: start;
    margin: 4px;
}

.runIcon, .clearIcon, .deleteIcon {
    height: 100%;
    width: 100%;
}