#translation .controls{
    display: grid;
    grid-template-columns: 1fr auto 1fr;  
    grid-template-rows: 1fr 1fr 1fr;  
    justify-items: center; 
    align-items: center;
    width: 100%;
    /* height: 100%; */
  }

#translation #up {
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: end;
}
#translation #down {
    grid-column-start: 2;
    grid-row-start: 3;
    align-self: start;
}

#translation #left {
    grid-column-start: 1;
    grid-row-start: 2;
    justify-self: end;
}

#translation #right {
    grid-column-start: 3;
    grid-row-start: 2;
    justify-self: start;
}
