#sideboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    justify-items: center; 
    align-items: center;
    width: 30vmin;
    height: 60vmin;

  }

#up {
    grid-row-start: 2;
}
#up,
#down {
    grid-column-start: 2;
}

#left,
#right {
    grid-row-start: 3;
}

#right {
    grid-column-start: 3;
}

#down {
    grid-row-start: 4;
}

#undo,
#redo {
    grid-row-start: 5;
}

#redo {
    grid-column-start: 3;
}

#undo {
    transform: scaleX(-1)
}
