#sideboard {
  display: grid;
  grid-template-rows: 1fr 9fr;
  border-style: solid;
  border-width: 1px;
  background-color: var(--game-background-color);
}

#sideboard nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
  align-self: start;
  justify-items: center;
  align-items: start;
  justify-content: center;
  align-content: center;
}
.activeDiv {
  background-color: none;
}
.inactiveDiv {
  background-color: var(--game-background-color);
}
.iconBtn, .iconBtn svg {
  outline: none;
}
.tabBtn {
  width: 45%;
  height: 90%;
  margin: 4px;
}
.tabBtn svg {
  width: 100%;
  height: 100%;
  outline: none;
}
.tabBtn path,
.tabBtn ellipse {
  stroke: var(--icon-stroke-color2);
}
.tabBtn ellipse {
  fill: var(--icon-fill-color2);
}
.tabBtn .activeTab ellipse {
  fill: var(--icon-fill-color3);
}
.tabBtn .activeTab path,
.tabBtn .activeTab ellipse {
  stroke: var(--icon-stroke-color3);
}


.controlBtn,
.controlBtn svg {
  width: 100%;
  height: 100%;
}
.controlBtn path,
.controlBtn ellipse {
  stroke: var(--icon-stroke-color);
}
.controlBtn ellipse {
  fill: var(--icon-fill-color);
}
.iconBtn:hover, .controlInputNum:hover, .controlSelect:hover {
  transition: 0.1s;
  filter: drop-shadow(0px 0px 2px #fff);
}
.iconBtn:active {
  transition: .1s;
  transform: scale(1.05);
  transform-origin: center center;
}
/* Hide number arrows */
.controlInputNum {
  -moz-appearance: textfield;
}
.controlInputNum::-webkit-inner-spin-button,
.controlInputNum::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Select dropdowns to match Chrome in Firefox */
@supports (-moz-appearance:none) {
  .controlSelect {
    -moz-appearance:none;
    background: url('data:image/gif;base64,R0lGODlhBgAGAKEDAFVVVX9/f9TU1CgmNyH5BAEKAAMALAAAAAAGAAYAAAIODA4hCDKWxlhNvmCnGwUAOw==') calc(100% - 5px) center no-repeat;
  }
}
.controlInputNum,
.controlSelect {
  border: solid var(--icon-stroke-color);
  font-size: inherit;
  border-width: 2px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: var(--input-background-color);
  color: var(--input-font-color);
  text-align: center;
  /* Chrome */
  text-align-last: center;
}
.reflectXBtn {
  transform: scaleX(-1);
}
.upBtn {
  transform: rotate(0deg);
}
.downBtn {
  transform: rotate(180deg);
}
.leftBtn {
  transform: rotate(-90deg);
}
.rightBtn {
  transform: rotate(90deg);
}
