.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#login .loginItem,
#login .loginBtn {
  width: 300px;
  font-size: 1em;
}
#login .loginItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#login .loginLabel {
  padding: 0 20px;
  text-align: left;
  font-weight: bold;
  color: var(--text-secondary-color);
}
#login .loginInput,
#login .loginBtn {
  border-radius: 25px;
  border: 5px solid var(--icon-stroke-color);
}
#login .loginInput {
  padding: 0 20px;
  height: 40px;
}
#login .loginBtn {
  height: 50px;
  background-color: #fff;
  color: var(--text-primary-color);
  font-weight: bold;
}
#login .loginBtn:hover,
#login .loginInput:hover {
  transition: 0.1s;
  filter: drop-shadow(0px 0px 2px #fff);
}
#login .loginBtn svg:active {
  transition: 0.1s;
  transform: scale(1.05);
  transform-origin: center center;
}


#menu {
  display: flex;
  justify-content: flex-start;
}
#menuBtn {
  outline: none;
  z-index: 99;
  padding: 5px 20px;
  position: absolute;
  top: 0px;
  left: 0px;
}
#menuBtn,
#menuBtn svg {
  height: 30px;
  width: 30px;
  outline: none;
}
#menuBtn.closed path {
  fill: var(--text-secondary-color);
}
#menuBtn.open path {
  fill: var(--text-primary-color);
}
#menuBtn.closed svg:hover {
  transition: 0.1s;
  filter: drop-shadow(0px 0px 2px #fff);
}
#menuBtn.open svg:hover {
  transition: 0.1s;
  filter: drop-shadow(0px 0px 2px #000);
}
#menuBtn svg:active {
  transition: 0.1s;
  transform: scale(1.1);
  transform-origin: center center;
}
#menuNav, #scoreTab {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: var(--menu-background-color);
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  transition: left ease-in-out 0.5s;
}
#menuNav {
  z-index: 4;
}
#scoreTab {
  z-index: 3;
}
#menuNav.open, #scoreTab.open {
  left: 0;
}
#menuNav.closed,#scoreTab.closed {
  left: -100%;
}
#menuNav .navBtn {
  font-size: 1.5em;
  padding: 1em 2em;
  margin: 1em 0;
  color: var(--text-primary-color);
}
#menuNav .navBtn:hover {
  background-color: var(--text-primary-color);
  color: var(--text-secondary-color);
}
#menuNav .navBtn:active {
  transition: .1s;
  transform: scale(1.05);
  transform-origin: center center;
}

#highScore {
  font-size: 1.5em;
  color: var(--text-primary-color);
  border-top: 2px solid #fff;
  border-collapse: collapse;
}
#highScore th, #highScore td {
  padding: 1em 2em;
  border-bottom: 2px solid #fff;
}
#highScore .player {
  background-color: var(--green4);
  color: #fff;
}
#noScore {
  font-size: 2em;
  margin: 10%;
}