:root {
  --blue1: #5A5CBB /* rgb(90, 92, 187) */;
  --blue2: #3B3EAC /* rgb(59, 62, 172) */;
  --blue3: #1D219D /* rgb(29, 33, 157) */;
  --blue4: #13157E /* rgb(19, 21, 126) */;
  --blue5: #0B0D62 /* rgb(11, 13, 98) */;

  --red1: #FF6B63 /* rgb(255, 107, 99) */;
  --red2: #F64238 /* rgb(246, 66, 56) */;
  --red3: #E2160B /* rgb(226, 22, 11) */;
  --red4: #B50900 /* rgb(181, 9, 0) */;
  --red5: #8C0700 /* rgb(140, 7, 0) */;

  --green1: #50CC5F /* rgb(80, 204, 95) */;
  --green2: #2CBF3E /* rgb(44, 191, 62) */;
  --green3: #08AF1D /* rgb(8, 175, 29) */;
  --green4: #008C11 /* rgb(0, 140, 17) */;
  --green5: #006D0D /* rgb(0, 109, 13) */;

  --gold02: #ffe699 /* rgb(255, 230, 153) */;
  --gold1: #FFD763 /* rgb(255, 215, 99) */;
  --gold2: #F6C638 /* rgb(246, 198, 56) */;
  --gold3: #E2AB0B /* rgb(226, 171, 11) */;
  --gold4: #B58700 /* rgb(181, 135, 0) */;
  --gold5: #8C6800 /* rgb(140, 104, 0) */;

  --black5: #000000 /* rgb(255, 255, 255) */;
  --white1: #FFFFFF /* rgb(0, 0, 0) */;

  --text-primary-color: #0f0f0f;
  --text-secondary-color: #f0f8ff;
  --text-emphasis-color: rgba(137, 235, 52, 1);
  --icon-fill-color: #e2ab0b;
  --icon-stroke-color: #1d219d;
  --icon-fill-color2: rgba(226, 171, 11, 0.7);
  --icon-stroke-color2: rgb(50, 50, 50, 0.7);
  --game-background-color: rgba(255, 255, 255, 0.2);
  --menu-background-color: rgb(240, 248, 255, 0.9);
}

html, body {
  width: 100%;
  height: 100%; 
}

body { 
  margin: 0;
  padding: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  overflow-x: hidden;
  color: var(--text-primary-color)
}

input, select, textarea, button{
  font-family:inherit;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

button {
  border:0;
  padding:0;
  background-color:transparent;
  cursor: pointer;
}

@media screen and (min-width: 1450px) {
  .canvasWrapper, .controllerWrapper {
      width: 700px;
      height: 700px;
  }
}

@media screen and (max-width: 1450px) and (min-width: 1350px) {
  .canvasWrapper, .controllerWrapper {
      width: 650px;
      height: 650px;
  }
}

@media screen and (max-width: 1350px) and (min-width: 1250px) {
  .canvasWrapper, .controllerWrapper {
      width: 600px;
      height: 600px;
  }
}

@media screen and (max-width: 1250px) and (min-width: 1150px) {
  .canvasWrapper, .controllerWrapper {
      width: 550px;
      height: 550px;
  }
}

@media screen and (max-width: 1150px) and (min-width: 1050px) {
  .canvasWrapper, .controllerWrapper {
      width: 500px;
      height: 500px;
  }
}

@media screen and (max-width: 1050px) and (min-width: 950px) {
  .canvasWrapper, .controllerWrapper {
      width: 450px;
      height: 450px;
  }
}

@media screen and (max-width: 950px) and (min-width: 850px) {
  .canvasWrapper, .controllerWrapper {
      width: 400px;
      height: 400px;
  }
}

@media screen and (max-width: 850px) {
  .canvasWrapper, .controllerWrapper {
      width: 350px;
      height: 350px;
  }
}

.canvasWrapper {
  position: relative;
  margin: 35px 5px 10px 5px;
  background-color: var(--game-background-color);
}

.controllerWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 35px 5px 10px 5px;
}

main {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 100%;
  background-color: rgb(100, 100, 100);
  background-image: url("./images/planetImage.png");
	background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#winner {
  font-size: 500%;
  color: var(--text-emphasis-color);
  font-family: "Bangers", cursive;
  height: 100%;
  padding: 60px 5px 0 5px;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#winner #restartBtn {
  font-size: 3rem;
  color: var(--icon-stroke-color);
  background-color: var(--icon-fill-color);
  border-radius: 1.5rem;
  border: 10px solid var(--icon-stroke-color);
  padding: 10px;
  margin: 20px;
  outline: none;
}
#winner #restartBtn:hover {
  transition: 0.1s;
  filter: drop-shadow(0px 0px 4px #fff);
}
#winner #restartBtn:active {
  transition: .1s;
  transform: scale(1.05);
  transform-origin: center center;
}