:root {
  /* --green-1: #50CC5F rgb(80, 204, 95); */
  --green-2: #2CBF3E /* rgb(44, 191, 62) */;
  /* --text-emphasis-color: rgba(137, 235, 52, 1); */
  /* --green-3: #08AF1D rgb(8, 175, 29); */
  /* --green-4: #008C11 rgb(0, 140, 17); */
  /* --green-5: #006D0D rgb(0, 109, 13); */
 
  /* --blue-1: #5A5CBB rgb(90, 92, 187); */
  /* --blue-2: #3B3EAC rgb(59, 62, 172); */
  /* --blue-3: #1D219D rgb(29, 33, 157); */
  --icon-stroke-color: #1d219d;
  --blue-4: #13157E /* rgb(19, 21, 126) */;
  --blue-5: #0B0D62 /* rgb(11, 13, 98) */;

  --icon-fill-color2: rgba(226, 171, 11, 0.7);
  --gold-1: #FFD763 /* rgb(255, 215, 99) */;
  --gold-2: #F6C638 /* rgb(246, 198, 56) */;
  --gold-3: #E2AB0B /* rgb(226, 171, 11) */;
  /* --icon-fill-color: #e2ab0b; */
  /* --gold-4: #B58700 rgb(181, 135, 0); */
  /* --gold-5: #8C6800 rgb(140, 104, 0); */

  /* --red-1: #FF6B63 rgb(255, 107, 99); */
  /* --red-2: #F64238 rgb(246, 66, 56); */
  --red-3: rgb(226, 22, 11) /* #E2160B */;
  /* --red-3: #E2160B rgb(226, 22, 11); */
  /* --red-4: #B50900 rgb(181, 9, 0); */
  /* --red-5: #8C0700 rgb(140, 7, 0); */

  --icon-stroke-color2: rgb(50, 50, 50, 0.7);
  --game-background-color: rgba(255, 255, 255, 0.2);
  --text-primary-color: #000;
  /* --black-5: #000000 rgb(0, 0, 0); */
  /* --text-secondary-color: #fff; */
  --white-1: #ffffff /* rgb(255, 255, 255) */;
}

html, body {
  width: 100%;
  height: 100%; 
}

body { 
  margin: 0;
  padding: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  overflow-x: hidden;
  color: var(--text-primary-color)
}

input, select, textarea, button{
  font-family:inherit;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  border:0;
  padding:0;
  background-color:transparent;
}

@media screen and (min-width: 1450px) {
  .canvasWrapper, .controllerWrapper {
      width: 700px;
      height: 700px;
  }
}

@media screen and (max-width: 1450px) and (min-width: 1350px) {
  .canvasWrapper, .controllerWrapper {
      width: 650px;
      height: 650px;
  }
}

@media screen and (max-width: 1350px) and (min-width: 1250px) {
  .canvasWrapper, .controllerWrapper {
      width: 600px;
      height: 600px;
  }
}

@media screen and (max-width: 1250px) and (min-width: 1150px) {
  .canvasWrapper, .controllerWrapper {
      width: 550px;
      height: 550px;
  }
}

@media screen and (max-width: 1150px) and (min-width: 1050px) {
  .canvasWrapper, .controllerWrapper {
      width: 500px;
      height: 500px;
  }
}

@media screen and (max-width: 1050px) and (min-width: 950px) {
  .canvasWrapper, .controllerWrapper {
      width: 450px;
      height: 450px;
  }
}

@media screen and (max-width: 950px) and (min-width: 850px) {
  .canvasWrapper, .controllerWrapper {
      width: 400px;
      height: 400px;
  }
}

@media screen and (max-width: 850px) {
  .canvasWrapper, .controllerWrapper {
      width: 350px;
      height: 350px;
  }
}

.canvasWrapper {
  position: relative;
  margin: 40px 5px 0px 5px;
  background-color: var(--game-background-color);
}

.controllerWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px 5px 0px 5px;
}

main {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 100%;
  background-color: rgb(100, 100, 100);
  background-image: url("./images/planetImage.png");
	background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.winner {
  font-size: 500%;
  /* color: var(--text-emphasis-color); */
  color: var(--green-2);
  font-family: "Bangers", cursive;
  height: 60vh;
  vertical-align: middle;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
}
