:root {
  --text-primary-color: #0f0f0f;
  --text-secondary-color: #f0f8ff;
  --text-emphasis-color: rgba(137, 235, 52, 1);
  --icon-fill-color: #e2ab0b;
  --icon-stroke-color: #1d219d;
  --icon-fill-color2: rgba(226, 171, 11, 0.7);
  --icon-stroke-color2: rgb(50, 50, 50, 0.7);
  --game-background-color: rgba(255, 255, 255, 0.2);
  --menu-background-color: rgb(240, 248, 255, 0.9);
}

html, body {
  width: 100%;
  height: 100%; 
}

body { 
  margin: 0;
  padding: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  overflow-x: hidden;
  color: var(--text-primary-color)
}

input, select, textarea, button{
  font-family:inherit;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

button {
  border:0;
  padding:0;
  background-color:transparent;
  cursor: pointer;
}

@media screen and (min-width: 1450px) {
  .canvasWrapper, .controlerWrapper {
      width: 700px;
      height: 700px;
  }
}

@media screen and (max-width: 1450px) and (min-width: 1350px) {
  .canvasWrapper, .controlerWrapper {
      width: 650px;
      height: 650px;
  }
}

@media screen and (max-width: 1350px) and (min-width: 1250px) {
  .canvasWrapper, .controlerWrapper {
      width: 600px;
      height: 600px;
  }
}

@media screen and (max-width: 1250px) and (min-width: 1150px) {
  .canvasWrapper, .controlerWrapper {
      width: 550px;
      height: 550px;
  }
}

@media screen and (max-width: 1150px) and (min-width: 1050px) {
  .canvasWrapper, .controlerWrapper {
      width: 500px;
      height: 500px;
  }
}

@media screen and (max-width: 1050px) and (min-width: 950px) {
  .canvasWrapper, .controlerWrapper {
      width: 450px;
      height: 450px;
  }
}

@media screen and (max-width: 950px) and (min-width: 850px) {
  .canvasWrapper, .controlerWrapper {
      width: 400px;
      height: 400px;
  }
}

@media screen and (max-width: 850px) {
  .canvasWrapper, .controlerWrapper {
      width: 350px;
      height: 350px;
  }
}

.canvasWrapper {
  position: relative;
  margin: 40px 5px 0px 5px;
  background-color: var(--game-background-color);
}

.controlerWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px 5px 0px 5px;
}

main {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 100%;
  background-color: rgb(100, 100, 100);
  background-image: url("./images/planetImage.png");
	background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#winner {
  font-size: 500%;
  color: var(--text-emphasis-color);
  font-family: "Bangers", cursive;
  height: 100%;
  padding: 60px 5px 0 5px;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#winner #restartBtn {
  font-size: 3rem;
  color: var(--icon-stroke-color);
  background-color: var(--icon-fill-color);
  border-radius: 1.5rem;
  border: 10px solid var(--icon-stroke-color);
  padding: 10px;
  margin: 20px;
  outline: none;
}
#winner #restartBtn:hover {
  transition: 0.1s;
  filter: drop-shadow(0px 0px 8px #000);
}
#winner #restartBtn:active {
  transition: .1s;
  transform: scale(1.05);
  transform-origin: center center;
}