/* Variable usage: var(--my-variable) 
  e.g. color: var(--text-primary-color);
*/

:root {
  --text-primary-color: #0f0f0f;
  --text-secondary-color: #f0f8ff;
  --text-emphasis-color: #2CBF3E;
  --icon-fill-color: #e2ab0b;
  --icon-stroke-color: #1d219d;

  /* sideboard inactive tabs */
  --icon-fill-color2: #e2ab0b;
  --icon-stroke-color2: #0f0f0f;
  /* sideboard active tab */
  --icon-fill-color3: #73bd33;
  --icon-stroke-color3: #0f0f0f;
  /* callstack card icon */
  --icon-fill-color4: #ffe699;
  --icon-stroke-color4: #1d219d;

  --game-background-color: rgba(255, 255, 255, 0.2);
  --menu-background-color: rgb(240, 248, 255, 0.9);
  --input-background-color: #ffe699;
  --input-font-color: #13157E;
  --menu-highlight-color: #0f0f0f;
}

html, body {
  width: 100%;
  height: 100%; 
}

body { 
  margin: 0;
  padding: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  overflow-x: hidden;
  color: var(--text-primary-color)
}

input, select, textarea, button{
  font-family:inherit;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

button {
  border:0;
  padding:0;
  background-color:transparent;
  cursor: pointer;
}

@media screen and (min-width: 1450px) {
  .canvasWrapper, .controllerWrapper {
      width: 700px;
      height: 700px;
  }
}

@media screen and (max-width: 1450px) and (min-width: 1350px) {
  .canvasWrapper, .controllerWrapper {
      width: 650px;
      height: 650px;
  }
}

@media screen and (max-width: 1350px) and (min-width: 1250px) {
  .canvasWrapper, .controllerWrapper {
      width: 600px;
      height: 600px;
  }
}

@media screen and (max-width: 1250px) and (min-width: 1150px) {
  .canvasWrapper, .controllerWrapper {
      width: 550px;
      height: 550px;
  }
}

@media screen and (max-width: 1150px) and (min-width: 1050px) {
  .canvasWrapper, .controllerWrapper {
      width: 500px;
      height: 500px;
  }
}

@media screen and (max-width: 1050px) and (min-width: 950px) {
  .canvasWrapper, .controllerWrapper {
      width: 450px;
      height: 450px;
  }
}

@media screen and (max-width: 950px) and (min-width: 850px) {
  .canvasWrapper, .controllerWrapper {
      width: 400px;
      height: 400px;
  }
}

@media screen and (max-width: 850px) and (min-width: 750px) {
  .canvasWrapper, .controllerWrapper {
      width: 350px;
      height: 350px;
  }
}

@media screen and (max-width: 750px) {
  .canvasWrapper, .controllerWrapper {
      width: 300px;
      height: 300px;
  }
}

.canvasWrapper {
  position: relative;
  margin: 30px 5px 0px 5px;
  background-color: var(--game-background-color);
}

.controllerWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px 5px 10px 5px;
}

main {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 100%;
  background-color: rgb(100, 100, 100);
  background-image: url("./images/planetImage.png");
	background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}
