#rotation .controls{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#rotation #pivotCoords {
    display: flex;
    justify-content: center;
}

#rotation #rotateDirection {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}
#rotation #rotate-left {
    justify-self: end;
}
#rotation #rotate-right {
    justify-self: start;
}