#rotation {
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 25%;
}

#rotation .controls{
    display: grid; 
    grid-template-rows: 1fr 1fr;  
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#rotation #pivotCoords {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#setPivotPointx {
    justify-self: end;
}

#setPivotPointy {
    justify-self: start;
}

#setPivotPointx, #setPivotPointy {
    align-self: end;
    width: 30%;
    height: 50%;
    margin: 5px;
}

#rotation #rotateDirection {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    align-content: center;
}
#rotation #rotate-left {
    width: 45%;
    height: 100%;
    justify-self: right;
}
#rotateDrop {
    width: 60%;
    height: 70%;
}
#rotation #rotate-right {
    width: 45%;
    height: 100%;
    justify-self: left;
}